.leap-year-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.input-view {
    background: palegoldenrod;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;   

}

.year-input {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 90%;
    
}

.check-button {
    padding: 10px 20px;
    background-color: burlywood;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;    
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.check-button:hover {
    background-color: rgb(97, 97, 139);
}

.error-message {
    color: red;
    margin-top: 5px;
}
